{% extends 'ovs/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Captcha Verification</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Enter Captcha</h1>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>CAPTCHA</td>
                    <td>
                        <canvas id="myCanvas" widht="250" height="80" style="background-color: beige ;"></canvas>
                    </td>
                </tr>
                <tr>
                    <td><input name="catcha" type="text" class="mt-3 mb-3"></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            var canvas = document.getElementById("myCanvas");
            var cts = canvas.getContext("2d");
            ctx.font = "30px Comin Sans MS";
            ctx.fillStyle = "red";
            ctx.textAlign = "center";
            ctx.fillText("{{captcha}}", canvas.width/2, canvas.height/2);
        </script>
    </body>
</html>
{% endblock %}