{% extends "ovs/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<!Doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  
    <style>
      h2{
        color: rgb(106, 89, 146);
        font-family:"Brush Script MT";
        font-size: 50px;
        padding-top: 15px;
      }
      a{
        color: rgb(37, 69, 95);
      }
    </style>
  </head>
  <body>
    <div class="container h-100">
      <div class="msg">
      <h2>Available Position(s) For Vote</h2>
      </div>
      <div class="pos_list">
    	  <ul class="list-group">
        {% for i in obj %}
          <li class="list-group-item"><a href="{% url 'candidate' i.id %}">{{i.title}}</a></li>
        {% empty %}
        <p>No Positions Available</p>
        {% endfor %}
  </ul>
  </div>
  </div>
  </body>
</html>
{% endblock %}